.balls{
    margin-right:0.5em;
    
    background-color:tomato;
    display: inline-block;
    width:3em;
    height: 4.25em;
    border-radius: 50%;
    padding-top:0.75em;
    text-align:center;
    font-size: 1.5em;
    font-weight:bold

    
}
.ballbox{

}